[Desktop Entry]
Name=Account Wizard
Exec=accountwizard --package %u
Type=Application
NoDisplay=true
Comment=Launch the account wizard to configure PIM accounts.
MimeType=application/x-accountwizard-package;
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.accountwizard
